<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <div class= "User"> Your User Id: <%= id %> Remember This!
      <style>
        .User{
          position: absolute;
          padding: 5px;
          background-color: black;
          color: white;
          top:5%;
          
        }
      </style></div>
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secrets!</h1>
    <p class="secret-text"><% if(locals.name){ %>
    Hello <%= name.charAt(0).toUpperCase()+ name.slice(1) %>
    <% } %>
    <ul>
    <% if(locals.secretArray){ %>
      
        <% secretArray.forEach((x)=>{ %>
       <li><big><%= x.secret %></big>
      </li>
      
      <% });%>
      <% } %>
    </ul>
    </p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>


